.bc-player-rkxvkpH8M_default .vjs-big-play-button {
    background-color: #70cbf4 !important;
    border-radius: 0 !important;
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    background-image: url(https://content.tui.co.uk/adamtui/2018_9/3_13/392fb055-7c0f-4548-b7b6-a95000e2d4b3/OPTI_play-white.svg) !important;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    cursor: pointer !important;
  }
  .vjs-icon-play:before, .video-js .vjs-big-play-button:before, .video-js .vjs-play-control:before {
  	content: " " !important;
  }
